@page
@model CuidadoPorcino.App.Frontend.Pages.DetallesModel
@{
}
<h2 class="Detalles" id="Detalles">Datos detallados del Cerdo</h2>
<br>
<hr>
<div >
   Id Cerdo: @Model.cerdo.IdCerdos
</div>

<div>
  Nombre: @Model.cerdo.Nombre
</div>
<div>
  Raza: @Model.cerdo.Raza
</div>
<div>
  Color: @Model.cerdo.Color
</div>
<div>
  Especie: @Model.cerdo.Especie
</div>
<div>
    <a asp-page="./listaCerdo" class="btn-default">Regresar a la lista</a>
</div>



